script(src="/abc/jquery-3.3.1.min.js")
script(src="/abc/script.js")
h2 home
form(method="post" action="/submit_action")
	input(type="text" name="x1" placeholder="Enter username")
	br
	input(type="text" name="x2" placeholder="Enter mobile number")
	br
	input(type="text" name="x3" placeholder="Enter email id")
	br
	input(type="text" name="x4" placeholder="Enter subject")
	br
	input(type="submit")

form(id="email")
	input(type="text" name="x1" placeholder="Enter username")
	br
	input(type="text" name="x2" placeholder="Enter mobile number")
	br
	input(type="text" name="x3" placeholder="Enter email id")
	br
	input(type="text" name="x4" placeholder="Enter subject")
	br
	input(type="button" value="Send mail" class="btn_email")