.first_div{background: #eee;/*border:1px solid;*/padding-bottom: 30px}
/*.second_div{border:1px solid;}*/
.txt_im1_1{position: absolute;bottom:25%;}
.first_div .im1_1{position: relative;/*border: 1px solid*/}
.first_div .date{float: right;margin-right: 20px}
.txt_im1_1{color: #fff;margin-left: 12px;margin-right: 15px}
.txt_im1_1 p{font-size: 16px;color: lightgray;margin: 10px 0}
.first_div a {color: #faffff;text-transform: uppercase;font-size: 17px;text-decoration: none;
border-left: 3px solid #ff5d3b;padding-left: 5px;/*margin: 20px 0;border:1px solid;*/}
.first_div a:hover{text-decoration: underline;}
.txt_im1_2 ,.txt_im1_3,.txt_im1_4,.txt_im1_5{position: absolute;top: 180px;margin-left: 15px;
	margin-right: 15px}
.first_div h3{font-size: 22px;color: #fff;font-weight: normal;margin: 15px 0}
.im1_2,.im1_3,.im1_4,.im1_5{position: relative;}
.txt_im1_5,.txt_im1_3{top:360px;}
.im1_3,.im1_5{margin-top:10px}
.welcome{padding-left: 15px;padding-top: 30px;padding-bottom: 10px;
font-size:24px;color: #4a4a4a }
.second_div p , .third_div p,.fourth_div p{color: #555;font-size: 15px;margin-top: 10px;margin-bottom: 20px}
/*.second_div a{ color: #faffff;text-decoration: none;}*/
.news, .sports,.india_news{font-size: 30px;margin-left:15px;border-left: 3px solid #ff5d3b;padding-left:5px;
margin-top: 30px;margin-bottom: 10px  }
/*.fifth_div .col-md-4 img{display: block;}*/
.fifth_div .col-md-4 img{margin-top: 10px;}
.fifth_div{background: #e7e8e1}
.fifth_div ul{list-style: none}
.fifth_div li{border:1px solid;font-weight: bold;font-size: 20px}
.editors_heading{font-size: 30px;font-weight: bold;color: #4a4a4a;
border-left:3px solid lightblue;padding-left: 10px;margin-left: 15px;margin-top: 30px;
margin-bottom: 15px}
.contacts{background: #000;padding-top: 15px;padding-bottom: 10px}
.dropdown{background: #000;color: #fff;font-size: 15px;font-weight: bold;
padding-right: 30px;padding-left: 10px}
.tabs_ul{list-style: none;/*border:1px solid green;*/overflow: auto;
text-transform: capitalize;}
.tabs_ul li a,.signin{text-decoration: none;float: left;color: #fff;padding:0 10px;
font-size: 15px;font-weight: bold}
.sixth_div{margin-top: 20px;margin-bottom: 20px}
.sixth_div h2{padding: 10px 0}
.sixth_div img{margin-bottom: 20px}
.sixth_div a{text-decoration: none;color: gray;border-left:3px solid lightblue;
text-transform:uppercase;font-size: 16px;padding-left: 5px}
.sixth_div a:hover{text-decoration: underline;}
